# Ignore certain directories
.github/
.git/
.venv/
__pycache__/
data/

# Ignore certain files
.dockerignore
.env
.envrc
.gitignore
.secrets

*.py[codz]
*.secrets
*.md
!README.md

compose.yaml
Dockerfile
Taskfile.yaml
